:root{
    --text-sm: 1rem;
    --text-md: 1.15rem;
    --text-lg: 1.5rem;
    --text-xl: 2.75rem;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
section .box-container{
    max-width: 1140px;
    display: block;
    margin: auto;
}
.first .logo{
    display: flex;
    justify-content: left;
    padding: 1rem 0.75rem 1rem 0;
    max-width: 1140px;
    margin: auto;
}
.first{
    position: relative;
    background: linear-gradient(to bottom, #003EDE, #5181FF, #003EDE);
}
.first .banner-image{
    overflow: hidden;
    height: 300px;
}
.first .banner-image img{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: opacity(0.5);
}
.first .banner-title{
    opacity: 1;
    margin-top: -4rem;
    z-index: 10;
    position: relative;

}
.first .banner-title h1{
    font-size: 1.875rem;
    color: white;
    font-weight: 700;
}
.first .banner-description h2{
    color: white;
    font-size: var(--text-md);
    font-weight: 400;
    text-align: right;
}
.spaccing{
    margin: 0 0.75rem 0 0.75rem;
}
.first .challenger{
    
}
.first .challenger .description p{
    text-align: justify;
    color: white;
    font-size: var(--text-sm);
    font-weight: 300;
}
.first .challenger .description p.uppercase{
    font-size: var(--text-md);
    margin-block: 0;
}
.first .challenger .description p.cursive-challenge{
    margin-block: 0;
    margin-top: -1rem;
    margin-left: 4rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: #82E1D9;
    font-size: 2.75rem;
}
.first .challenger .image img{
    max-width: 100%;
}
.first .about-programm .about-image{
    display: flex;
}
.first .about-programm .about-image img{
    width: 100%;
}
.first .about-programm .description p{
    color: white;
    text-align: justify;
    font-size: var(--text-sm);
    font-weight: 300;
}
.first .about-programm .description .about-description{
    margin-block: 0;
    font-size: var(--text-md);
    color: white;
}
.first .about-programm .description .programm-description{
    font-size: 2.75rem;
    color: #F8AC7A;
    margin-block: 0;
    margin-left: 2.5rem;
    margin-top: -1rem;
    font-weight: 500;
    font-family: 'Dancing Script', cursive;
}
.first .about-programm .description p{
    margin-block: 0;
    padding-block: 0.75rem;
}
.two{
    background-color: #5181FF;
    padding: 2rem 0 2rem 0;
}
.two .title h2{
    margin-block: 0;
    line-height: 0.6;
    text-align: center;
    color: white;
    font-size: var(--text-md);
}
.two .title h2.align-right{
    padding-right: 8rem;
}
.two .title h2 .mark{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 2.75rem;
    color: #82E1D9;
}
.two .hexagons{
    padding: 2rem 0 2rem 0;
    display: grid;
    gap: 4rem;
}

.two .hexagons .hex{
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
}

.two .hexagons .hex img{
    width: 250px;
    position: absolute;
}
.two .hexagons .hex div{
    display: flex;
    align-items: center;
    margin: 3.3rem 1.75rem 4rem 1.75rem;
    width: 200px;
    height: 180px;
    line-clamp: 6;
    overflow: hidden;
    position: absolute;
    font-size: var(--text-sm);
    line-height: 1.5;
    color: white;
}
.two .hexagons .hex div p{
    margin-block: 0;
    text-align: center;
}
.three{
    background: linear-gradient(to bottom, #003EDE, #5181FF);
    padding-top: 2rem;
}
.three .top .title{
    text-align: center;
}
.three .top .title h2{
    color: white;
    font-size: 1.75rem;
    margin-block: 0;
}
.three .top .title h2:nth-child(2){
    margin-top: -1rem;
    font-size: 2.75rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    color: #FDA8C5;
}
.three .top .description p{
    color: white;
    text-align: center;
}
.three .expert-image{
    display: none;
}
.three .title-one{
    padding-top: 2rem;
}
.three .title-one h2{
    margin-block: 0;
    font-size: var(--text-md);
    color: white;
    text-align: center;
}
.three .title-one h2:nth-child(1){
    padding-right: 10rem;
}
.three .title-one h2:nth-child(2){
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 2.75rem;
    margin-top: -1rem;
    color: #FDA8C5;
}
.three .title-one h2:nth-child(3){
    padding-left: 10rem;
    margin-top: -0.5rem;
}
.three .benefits{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
    justify-content: space-around;
}
.three .benefits .benefit{
    width: 180px;
    display: flex;
    align-items: center;
    margin: auto;
}
.three .benefits .benefit i img{
    width: 50px;
    height: 50px;
    padding-right: 0.75rem;
}
.three .benefits .benefit p{
    font-size: var(--text-sm);
    font-weight: 400;
    color: white;
}

.four{
    background-color: #003EDE;
}
.four .requirements .title h2{
    margin-block: 0;
    color: #82E1D9;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 2.75rem;
    text-align: center;
}
.four .requirements .require div{
    display: flex;
    align-items: center;
}
.four .requirements .require div:nth-child(2){
    flex-direction: row-reverse;
}
.four .requirements .require div:nth-child(4){
    flex-direction: row-reverse;
}
.four .requirements .require div i img{
    width: 50px;
}
.four .requirements .require div p{
    width: 100%;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-block: 0.5rem;
    font-size: var(--text-sm);
    color: white;
    border: solid 2px #82E1D9;
    border-radius: 0.5rem;
}
.four .requirements-trainee img{
    max-width: 100%;
}

.five{
    background: linear-gradient(to bottom, #003EDE, #5181FF);
}
.five .title h2{
    text-align: center;
    margin-block: 0;
    color: white;
}
.five .title h2:nth-child(1){
    padding-right: 4rem;
    font-size: var(--text-md);
}
.five .title h2:nth-child(2){
    padding-left: 4rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 2.75rem;
    color: #F8AC7A;
    margin-top: -1rem;
}
.five .title{
    padding-top: 2rem;
}
.five .process-selection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    gap: 4rem;
}
.five .process-selection .phase {
    width: 100px;
    color: white;
    text-align: center;
}
.five .process-selection .phase h3{
    font-size: var(--text-md);
    margin-block: 0;
}
.five .process-selection .phase h3.orange{
    color: #F8AC7A;
}
.five .process-selection .phase h3.orange{
    color: #F8AC7A;
}
.five .process-selection .phase p{
    font-size: var(--text-md);
    margin-block: 0;
}
.six{
    background-color: #5181FF;
    padding: 2rem 0;
    background-image: url('images/map-mundi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 960px;
}
.six .subscribe .title h2{
    margin-block: 0;
    color: white;
    font-size: 1.5rem;
}
.six .subscribe .description p{
    color: white;
    font-size: var(--text-sm);
}
.six .areas a{
    text-decoration: none;
    color: initial;
}
.six .areas .area{
    display: flex;
    align-items: center;
    border: solid 3px;
    position: relative;
    border-radius: 0.75rem;
    margin: 1.5rem;
    background-color: white;
}
.six .areas .area span{
    color: white;
    position: absolute;
    font-size: 0.8rem;
    padding: 0.25rem 1.5rem;
    right: -1rem;
    top: -1rem;
    border-radius: 50rem;
}
.six .areas .area:nth-child(1){
    border-color: #FFAD2B;
}
.six .areas .area:nth-child(1) span{
    background-color: #FFAD2B;
}
.six .areas .area:nth-child(2){
    border-color: #52CC7B;
}
.six .areas .area:nth-child(2) span{
    background-color: #52CC7B;
}
.six .areas .area:nth-child(3){
    border-color: #60B7FF;
}
.six .areas .area:nth-child(3) span{
    background-color: #60B7FF;
}
.six .areas .area:nth-child(4){
    border-color: #FF7044;
}
.six .areas .area:nth-child(4) span{
    background-color: #FF7044;
}
.six .areas .area:nth-child(5){
    border-color: #FE5694;
}
.six .areas .area:nth-child(5) span{
    background-color: #FE5694;
}
.six .areas .area i img{
    height: 50px;
    padding: 0.5rem;
}
.six .areas .area h3{
    font-weight: 400;
}
.six .areas .area h3, .six .areas .area h4{
    margin-block: 0;
    font-size: var(--text-md);

}
.seven{
    background-color: #5181FF;
    padding-bottom: 2rem;
}
.seven .cases{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}
.seven .cases .case{
    width: 80%;
    position: relative;
    border: solid 2px;
    border-collapse: collapse;
    border-radius: 1rem;
}
.seven .cases .case:nth-child(1){
    border-color: #FFBAB2;
}
.seven .cases .case:nth-child(1) .name{
    border-color: #FFBAB2;
}
.seven .cases .case:nth-child(2){
    border-color: #98D2E8;
}
.seven .cases .case:nth-child(2) .name{
    border-color: #98D2E8;
}
.seven .cases .case:nth-child(3){
    border-color: #F8AC7A;
}
.seven .cases .case:nth-child(3) .name{
    border-color: #F8AC7A;
}
.seven .cases .case:nth-child(4){
    border-color: #FEDC8A;
}
.seven .cases .case:nth-child(4) .name{
    border-color: #FEDC8A;
}
.seven .cases .case img.avatar{
    width: 100px;
    position: absolute;
    top: -2rem;
    left: -1rem;
}
.seven .cases .case .name{
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: solid 2px;
}
.seven .cases .case .name h2{
    color: white;
    font-size: var(--text-sm);
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.seven .cases .case .name i{
    position: absolute;
    right: 1rem;
}
.seven .cases .case .name i img{
    height: 14px;
}
.seven .cases .case .description{
    background-color: #003ede;
    height: max-content;
    padding: 0.75rem 1.5rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
}
.seven .cases .case .description p{
    text-align: center;
    color: white;
    font-size: var(--text-sm);
    margin-block: 0;
    padding-block: 0.5em;
}


@media screen and (min-width: 768px) {
    .first .banner-image img{
        object-position: 0 -8rem;
    }
    .first .banner-title{
        margin-top: -3rem;
    }
    .first .challenger{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .first .challenger{
        padding-top: 2rem;
    }
    .first .challenger .description{
        margin: 0 2rem;
    }
    .first .challenger .description p{
        text-align: left;
    }
    .first .about-programm{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .first .about-programm .description{
        padding-top: 4rem;
    }
    .two .hexagons{
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        gap: 4rem;
    }
    .three{
        padding-bottom: 2rem;
    }
    .three .expert-image{
        display: none;
    }
    .three .expert-image img{
        height: 600px;
    }   
    .three .benefits .benefit{
        width: 250px;
    }
    .four{
        padding: 2rem 0;
    }
    .four .requirements{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .four .requirements .requirements-trainee{
        display: flex;
        justify-content: end;
    }
    .four .requirements .requirements-trainee img{
        width: 100%;
    }
    .five .process-selection .phase{
        width: 180px;
    }
    .six .areas .area span{
        color: white;
        position: absolute;
        padding: 0.25rem 1.5rem;
        right: -1rem;
        top: 0.5rem;
        border-radius: 50rem;
    }
    .six .subscribe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1024px;
    }
    .six .subscribe .journey{
        width: 50%;
        align-content: center;
        margin: auto;
    }
    .six .subscribe .journey .title h2{
        font-size: var(--text-lg);
    }
    .six .subscribe .journey .description{
        margin-top: 3rem;
    }
    .seven{
        padding-top: 2rem;
    }
    .seven .cases{
        justify-content: center;
        max-width: 1024px;
    }
    .seven .cases .case{
        width: 480px;
    }
    .seven .cases .case .name h2{
        padding-right: 2rem;
        font-size: var(--text-md);
        width: 100%;
    }
    .seven .cases .case .description{
        height: 565px;
    }

}

@media screen and (min-width: 1140px) {
    :root{
        --text-sm: 1.15rem;
        --text-lg: 1.875rem;
    }
    .first .banner-title{
        margin-top: -4.5rem;
    }
    .first .banner-title h1{
        font-size: 3rem;
    }   
    .first .banner-image{
        height: 550px;
    }
    .first .challenger .description{
        margin: 0 2rem;
        margin-top: 5vw;
    }
    .two .hexagons{
        gap: 2rem;
    }
    .two .hexagons .hex > div p{
        font-size: 1rem;
    }
    .two .hexagons .hex:nth-child(2){
        margin-top: 8rem;
    }
    .two .hexagons .hex:nth-child(4){
        margin-top: 8rem;
    }
    .three{
        padding-bottom: 0;
    }
    .three .expert-image{
        display: flex;
    }
    .three .benefits-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .three .benefits{
        margin: auto;
    }
    .three .benefits .benefit{
        width: 375px;
    }
    .four .requirements .requirements-trainee img{
        width: 75%;
    }
    .five .process-selection .phase{
        width: 120px;
    }
    .five .process-selection .phase:nth-child(2){
        margin-top: 4rem;
    }
    .five .process-selection .phase:nth-child(4){
        margin-top: 4rem;
    }
    .five .process-selection .phase:nth-child(6){
        margin-top: 4rem;
    }
    .six .subscribe .journey{
        margin: initial;
    }
    .seven .cases{
        justify-content: space-between;
        max-width: 1024px;
    }
}

footer{
    background-color: #003EDE;
    padding: 2rem 0;
    display: grid;
    place-items: center;
}
